<p>Hello {{name}}</p>

<p>{{compliment}}</p>


<p>Make a new compliment</p>
<form action="/" method="post">
    <label for="new_compliment">New compliment</label>
    <input type="text" name="new_complement">
    <input type="submit">
</form>
